pipeline/PL_MASTERPIPELINE.json
{
	"name": "PL_MASTERPIPELINE",
	"properties": {
		"activities": [
			{
				"name": "LOOKUP_SQLTABLE_WATERMARK_DW",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "SELECT TableSchema, TableName, WatermarkColumn, LastLoadValue FROM dbo.ADF_Watermark_Table;",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_SqlServerTable1",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEachSQLTable",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LOOKUP_SQLTABLE_WATERMARK_DW",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LOOKUP_SQLTABLE_WATERMARK_DW').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "EXEC_SQL_INCREMENTAL_PIPELINE",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [
								{
									"name": "TableSchema",
									"value": "@item().TableSchema"
								},
								{
									"name": "TableName",
									"value": "@item().TableName"
								},
								{
									"name": "WatermarkColumn",
									"value": "@item().WatermarkColumn"
								},
								{
									"name": "LastLoadValue",
									"value": "@item().LastLoadValue"
								}
							],
							"typeProperties": {
								"pipeline": {
									"referenceName": "PL_CHILDPIPELINE",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "SQLData-OnPrem to Azure ADLS"
		},
		"annotations": []
	}
}