pipeline/PL_MASTERPIPELINE.json
{
	"name": "PL_MASTERPIPELINE",
	"properties": {
		"activities": [
			{
				"name": "LOOKUP_SQLTABLE_WATERMARK_DW",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "SELECT TableSchema, TableName, WatermarkColumn, LastLoadValue FROM dbo.ADF_Watermark_Table;",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_SqlServerTable1",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEachSQLTable",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LOOKUP_SQLTABLE_WATERMARK_DW",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LOOKUP_SQLTABLE_WATERMARK_DW').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "EXEC_SQL_INCREMENTAL_PIPELINE",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "PL_CHILDPIPELINE_INCREMENTAL",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"schemaname": {
										"value": "@item().TableSchema",
										"type": "Expression"
									},
									"tablename": {
										"value": "@item().TableName",
										"type": "Expression"
									},
									"watermarkcolumn": {
										"value": "@item().WatermarkColumn",
										"type": "Expression"
									},
									"lastloadvalue": "@item().LastLoadValue"
								}
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "SQLData-OnPrem to Azure ADLS"
		},
		"annotations": []
	}
}